body {
    font-family: Helvetica;
}

label {
    display: block;
    margin: 0.5rem 0;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

fieldset {
    border: none;
}

input, textarea, select {
    margin: 0 10px;
    margin-top: 5px;
}

form {
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
}